<strong>Olá, {{ deliveryman }}</strong>
<p>Sua entrega foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Data/hora: </strong> {{ date }} <br>
  <strong>Destinatário: </strong> {{ recipient }} <br>
  <strong>Produto: </strong> {{ product }} <br>
  <strong>Estado: </strong> {{ state}} <br>
  <strong>Cidade: </strong> {{ city}} <br>
  <strong>Rua: </strong> {{ street}} <br>
  <strong>Número: </strong> {{ number}} <br>
  <strong>CEP: </strong> {{ cep }} <br>
  <strong>Complemento: </strong> {{complement}} <br>
</p>